<footer>
    <h4>©Samp Army</h4>
    <h4><a href = "/about">ABOUT</a></h4>

    <h4><a href = "/contact">CONTACT</a></h4>
    <a href = "https://www.instagram.com/accounts/login/"><img id = "insta" src="/images/instaLogo.jpg" alt="Instagram"></a>
    <a href = "https://www.facebook.com/"><img id = "fb" src="/images/facebook.Logo.jpeg" alt="Facebook"></a>

    </footer>
</body>
</html>