<%- include('./partials/header.ejs')%>
    <p>
     
    <h1>Welcome to Samp Army Cricket Franchise</h1><br>
    This webpage is created by Sarnam Patel, a student at University of North Carolina at Charlotte majoring in Computer Science.
    <br>
    <br>
    Check out the connections section to browse available connections!
    <br>
    <br>
    <%- include('./partials/footer.ejs')%>