<%- include('./partials/header.ejs')%>
    <p>
   
    <h1>Welcome to Samp Army Cricket Franchise</h1><br>
    Contact:<br>
    spate247@uncc.edu
    <br>
    <br>
    <%- include('./partials/footer.ejs')%>