<%- include('./partials/header.ejs')%>


   <main>
    
    <h1> Welcome to Samp Army Cricket Franchise</h1>
    <p> This is Samp Army Cricket Franchise, and our goal is to unite everyone through Cricket. Here you can attend and
        create cricket games or events. This is the place for you if you are looking for some new friends to play 
        cricket with or want to meet new people! </p>
    <br>
    
      <p> Check out the Connections section to browse available connections!</p>
     
        <video controls class = "video">
            <source src = "/images/video.mp4">
        </video>
    </main>

<%- include('./partials/footer.ejs')%>

